<div class="banner">
  <h1>Wikinimous</h1>
  <div class="banner-button"> <%= link_to "All articles", articles_path  %> </div>
</div>

<div class="container">

<h2>Edit your article here</h2>

<%= form_for(@article) do |f| %>
  <%= f.label :title %>
  <br>
  <%= f.text_field :title %>
  <br>
  <br>
  <%= f.label :content %>
  <br>
  <%= f.text_field :content %>
  <br>
  <br>
  <%= f.submit %>
<% end %>

</div>
